.videos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  width: 800px;
}

#remoteVideo {
  width: 100%;
}
#localVideo {
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
}
