:host {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
}

#roomIdInput {
  min-width: 300px;
}
