:host {
  max-width: 300px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  display: block;
  position: relative;
  padding: 16px;
  border-radius: 4px;

  background: #424242;
  color: #fff;
}

:host(.bold-title) .card-title {
  font-weight: bold;
  font-size: 25px;
}

.card-title {
  margin-bottom: 12px;
  font-size: 20px;
  display: block;
}

.image {
  image-orientation: from-image;
  width: calc(100% + 32px);
  margin: 0 -16px 16px -16px;
}

.header-image {
  background-image: url(https://material.angular.io/assets/img/examples/shiba1.jpg);
  background-size: cover;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  object-fit: cover;
}

.card-header {
  display: flex;
  flex-direction: row;
}

.card-header-text {
  margin: 0 16px;
}

.card-subtitle {
  margin-top: -8px;
  display: block;
  margin-bottom: 16px;
}

.card-content {
  font-size: 14px;
  margin-bottom: 0;
}

.buttons {
  display: flex;
  justify-content: center;
}

/* ::slotted(*) {
  color: red;
} */