/* Global styles, even to web components */
@import "normalize.css";
@import "assets/css-components/button.css";
@import "assets/css-components/scrollbar.css";
@import "assets/css-components/input.css";

html,
body {
}

:root {
  --font: "Open Sans", sans-serif;
}

* {
  font-family: var(--font);
  box-sizing: border-box;
}
